@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Housing"];
}
<div class="container py-5">
    <h1 class="display-4 mb-4">@Localizer["Housing"]</h1>
    <p>@Localizer["Tagline"]</p>
</div>
